.places__website {
  max-width: 484px;
  grid-area: artist;
  height: max-content;
  margin: 0;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .places__website {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 530px) {
  .places__website {
    width: 90%;
    align-self: flex-start;
    margin: 0 auto;
  }
}
