.places__place {
  max-width: calc(100% - 296px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 48.73% 51.27%;
  column-gap: 40px;
  grid-template-areas:
    "title artist"
    "image text"
    "button text"
    ". text";
}

@media screen and (max-width: 999px) {
  .places__place {
    max-width: calc(100% - 48px);
    grid-template-columns: 48.73% 49.27%;
    margin: 0 auto;
    padding: 0;
    column-gap: 28px;
  }
}

@media screen and (max-width: 530px) {
  .places__place {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
