.place__button {
  max-width: 355px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  color: #ffffff;
  grid-area: button;
  margin-top: 48px;
}

.place__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 999px) {
  .place__button {
    max-width: 100%;
  }
}
@media screen and (max-width: 530px) {
  .place__button {
    margin: 30px auto 0;
    max-width: 90%;
  }
}
