.main{
    background-color: #2A2C2F;
}

.main_theme_dark {
    color: #FFFFFF;
}

.artist_theme_dark {
    color: #AAAAAA;
    font-family: 'InterRegular';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 15px;
}