.places__url-heading {
    color: #AAAAAA;
    font-family: 'InterRegular';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 15px;
}

@media screen and (max-width: 320px) {

    .places__url-heading {
      margin: 0 0 8px 0;
    }
  }