.places__url-heading {
  color: #aaaaaa;
  font-family: "Inter";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 1.15;
}

@media screen and (max-width: 530px) {
  .places__url-heading {
    margin: 0 0 8px 0;
  }
}
