.cover__overlay {
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.cover__overlay:hover {
    opacity: 0.8;
}

.cover__button:hover .cover__overlay {
    opacity: 0.8;
  }